html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: dodgerblue;
}

h1 {
    text-align: center;
    color: white;
    padding: 20px;
}

.cinzel-font, h1, img {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Adjust the weight as needed */
    font-style: normal;
}
